.chat-side
  .side-header
    .side-header__box
      %p.user-name 
        test!
      %ul.menu
        %li.edit-user
          =link_to "#" do
            =icon('fas','edit')
        %li.new-group
          =link_to "#" do
            =icon('fas','cog')
  .chat-side__groups
    = link_to "#" , class:"group" do
      %p.group__group-name
        チャット名
      %p.group__light-message
        まだメッセージがありません